<div id="navs" class="navs animated fadeInLeftBig" style="{% if onceAnimation ==1 %}animation-delay: 14s;{% endif %}animation-duration: 7s;transition-timing-function: ease-out;left:-40px;">
    <div class="icons">
        <ul>
            <li><a title="Home" href="#"><i class="fa fa-user"></i><span class="badge badge-danger" style="position: absolute;top: 11px; right: 1px;font-size: 12px;">495</span></a></li>
            <li><a href="About"><i class="fa fa-user-circle"></i></a></li>
            <li><a href="#"><i class="fa fa-phone"></i></a></li>
            <li><a href="#"><i class="fa fa-cog "></i></a></li>

        </ul>
    </div>
    <div class="text">
        <ul>
            <li><a href="#" >Mes points </a></li>
            <li><a href="#" >Mon compte</a>
            </li>
            <li><a href="#" >Nous contactez</a>
            </li>

            <li><a href="#" >Paramètre</a>
            </li>
        </ul>
    </div>
</div>