<div class="row">
    <div class="col-md-8">
        <div class="breadcrumb flat">
            <a href="#" {% if active == 1 %}class="active" {% endif %}>Recapitulatif</a>
            <a href="#" {% if active == 2 %}class="active" {% endif %}>Votre identité</a>
            <!--<a href="#" >Confirmer commande</a>-->
            <a href="#"  {% if active == 4 %}class="active" {% endif %}>Recapitulatif et Paiement</a>
        </div>
    </div>
</div>